<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="pagamigo"
     data-btn-text="Pay with Pagamigo"
     data-amount="50"
     data-currency-code="USD"
     data-paypal-access-token="replace-with-paypal-oauth-access-token"
     data-sandbox
></div>
<!-- built files will be auto injected -->
<script>
  let pagamigoEl = document.getElementById("pagamigo");
  pagamigoEl.addEventListener("payment-success", function (paymentDetails) {
    console.log(paymentDetails.detail);
  });

  pagamigoEl.addEventListener("payment-failure", function (errorDetails) {
    console.log(errorDetails);
  });
</script>
</body>
</html>
