<script>
import _ from "lodash";
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      displayRedirectUrl: false,
      errorMessage: null,
      confirmationMessage: null,
      amount: 0,
      currencyCode: "USD",
      btnText: "",
      accessToken: "",
      paypalApiUrl: null,
      redirectUrl: null,
      captureUrl: null,
      order: null
    };
  },
  mounted() {
    let pagamigoEl = document.getElementById("pagamigo");
    this.btnText = _.get(pagamigoEl.dataset, "btnText", "Pay with Pagamigo");
    this.amount = _.toNumber(_.get(pagamigoEl.dataset, "amount", 0));
    this.currencyCode = _.get(pagamigoEl.dataset, "currencyCode", "USD");
    this.accessToken = _.get(pagamigoEl.dataset, "paypalAccessToken", null);

    if (this.accessToken === null) {
      this.errorMessage =
          "Please provide a valid PayPal Access Token to Pagamigo and reload the page";
    }

    if (this.amount < 1) {
      this.errorMessage = "Please provide a valid amount for this payment";
    }

    let isSandbox = _.get(pagamigoEl.dataset, "sandbox", false);

    if (isSandbox === false) {
      this.paypalApiUrl = "https://api-m.paypal.com";
    } else {
      this.paypalApiUrl = "https://api-m.sandbox.paypal.com";
    }
  },
  methods: {
    async createOrder() {
      try {
        let url = this.paypalApiUrl + "/v2/checkout/orders";
        let response = await axios.post(
            url,
            {
              intent: "AUTHORIZE",
              purchase_units: [
                {
                  amount: {
                    currency_code: this.currencyCode,
                    value: this.amount
                  }
                }
              ]
            },
            {
              headers: {
                Authorization: "Bearer " + this.accessToken
              }
            }
        );

        this.order = response.data;

        // find the approval and capture url.
        this.order["links"].forEach(link => {
          if (link["rel"] === "approve") {
            this.redirectUrl = link["href"];
          }

          if (link["rel"] === "capture") {
            this.captureUrl = link["href"];
          }
        });
      } catch (error) {
        this.errorMessage =
            "Something went wrong while communicating with PayPal. Try again later";
      }
    },

    async captureOrder() {
      let pagamigoEl = document.getElementById("pagamigo");
      try {
        this.confirmationMessage = "CONFIRMING PAYMENT; PLEASE WAIT...";
        let response = await axios.post(
            this.captureUrl,
            {},
            {
              headers: {
                Authorization: "Bearer " + this.accessToken
              }
            }
        );

        // send an event with the response data
        let successfulCaptureEvent = new CustomEvent("payment-success", {
          detail: response.data
        });
        pagamigoEl.dispatchEvent(successfulCaptureEvent);
        this.confirmationMessage = "PAYMENT WAS SUCCESSFULLY CONFIRMED!";
      } catch (error) {
        let failedPaymentEvent = new CustomEvent("payment-failure", {
          detail: error
        });
        pagamigoEl.dispatchEvent(failedPaymentEvent);
        this.errorMessage =
            "Something Went Wrong while confirming the transaction, try again later";
      }
    },

    togglePagamigoBtnState() {
      if (this.displayRedirectUrl === false) {
        this.createOrder();
      }

      this.displayRedirectUrl = !this.displayRedirectUrl;
      this.redirectUrl = null;
      this.confirmationMessage = null;
    }
  }
};
</script>

<template>
  <div class="pagamigo">
    <div v-if="errorMessage !== null" class="error-text">
      *{{ errorMessage }}
    </div>
    <div v-else>
      <div class="">
        <button
            class="button-primary"
            :class="{ 'close-pagamigo-btn': displayRedirectUrl }"
            @click="togglePagamigoBtnState"
        >
          <span v-if="displayRedirectUrl" class="close-btn">X</span>
          {{ btnText }}
        </button>
      </div>
      <div v-if="displayRedirectUrl">
        <div v-if="redirectUrl !== null">
          <div>
            Copy this URL and use the Pagamigo CLI Redirect flow to approve the
            transaction.<br/>
            <strong>{{ redirectUrl }}</strong>
          </div>
          <div v-if="confirmationMessage === null">
            We need to confirm the payment before completing this transaction<br/>
            Click this button to initiate confirmation<br/>
            <button @click="captureOrder">Confirm Transaction</button>
          </div>
          <div v-else>
            <br/><br/>
            <strong>{{ confirmationMessage }}</strong>
          </div>
        </div>
        <div v-else>
          Loading...
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import "./assets/css/normalize.css";
@import "./assets/css/skeleton.css";

.pagamigo {
  margin: 10px;
}

.error-text {
  color: red;
}

.close-pagamigo-btn {
  background-color: red;
}

.close-pagamigo-btn:hover {
  background-color: lightcoral;
}

.close-pagamigo-btn:focus {
  background-color: red;
}

.close-btn {
  padding-right: 6px;
}
</style>
